@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

.SellingPoint {
  font-family: "Montserrat", sans-serif;
  color: #9e3846;
}

.SellingPointDescription {
  font-family: "Oswald", sans-serif;
  color: #575757;
}

.ContactUsTitleText {
  font-family: "Montserrat", sans-serif;
  color: #9e3846;
}

.Course {
  font-family: "Montserrat", sans-serif;
  color: #9e3846;
}

.TuitionName {
  font-family: "Montserrat", sans-serif;
  color: #9e3846;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.BackgroundImage {
  height: 50vh;
  width: 100vw;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.NavOptions {
  font-family: "Montserrat", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.BookingButton {
  box-shadow: 10px 10px 10px #c6c3e8;
  background-color: #90ee90;
}

.BookingButton:hover {
  opacity: 0.85;
  box-shadow: none;
  background-color: #4ee44e;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Nav-text {
  color: #727178;
}

.Nav-text:hover {
  color: black;
}

.NavBarSmall {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  height: 50px;
}

.NavBarLarge {
  display: none !important;
}

.TextContainer2 {
  display: block !important;
}

.SellingPointsContainer {
  flex-direction: column;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 780px) {
  .NavBarLarge {
    display: flex !important;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: space-between;
  }
  .NavBarSmall {
    display: none !important;
  }
  .NavBarContainer {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
  .BackgroundImage {
    display: block !important;
  }

  .TextContainer2 {
    display: none !important;
  }

  .SellingPointsContainer {
    flex-direction: row;
    padding: 5;
  }
}

.CourseContainer:hover {
  box-shadow: none !important;
  opacity: 1;
}

.CourseContainer {
  cursor: pointer;
  opacity: 0.6;
}

.Cancel {
  cursor: pointer;
}

.Subjects {
  font-family: "Oswald", sans-serif;
}

.Subjects:hover {
  background-color: #c6c3e8;
}

.BookingLink:hover {
  text-decoration: none;
  color: black;
}

.BookingLink {
  color: #9e3846;
  font-family: "Montserrat", sans-serif;
}

.Navbar {
  z-index: 9999 !important;
}

.ButtonText {
  font-family: "Montserrat", sans-serif;
  color: #9e3846;
}

.ContactTitle {
  font-family: "Montserrat", sans-serif;
  color: #9e3846;
}

.Description {
  font-family: "Oswald", sans-serif;
  color: #575757;
}

.SubmitButton {
  font-family: "Montserrat", sans-serif;
  color: #9e3846;
  box-shadow: 10px 10px 10px #c6c3e8;
  background-color: #90ee90;
}

.SubmitButton:hover {
  opacity: 0.85;
  box-shadow: none;
  background-color: #4ee44e;
}

.ModalCloseButton {
  font-family: "Montserrat", sans-serif;
  color: red;
  box-shadow: 10px 10px 10px #c6c3e8;
  background-color: red;
}

.ModalCloseButton:hover {
  opacity: 0.85;
  box-shadow: none;
  background-color: red;
}
